:host * {
  box-sizing: border-box;
}

:host {
  box-sizing: border-box;
  position: relative;

  display: inline-flex;
  flex-direction: column;

  /* display: inline-grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center; */

  background-color: white;
  padding: 0.5rem;
  border: 1px solid black;

  user-select: none;
}

.header {
  /* grid-column: 1/-1; */

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}

.header .nav-arrow {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  padding: 0;
  border: 1px solid transparent;
  font-size: 1.4rem;
}

.header .nav-arrow:hover {
  background-color: #bed6fe;
  border: 1px solid black;
}

.nav-ym-wrapper {
  flex: 1 0 auto;

  display: flex;
  justify-content: center;
  gap: 2px;
}

.header .nav-month,
.header .nav-year {
  background-color: transparent;
  border: 1px solid transparent;
}

.header .nav-month:hover,
.header .nav-year:hover {
  background-color: #bed6fe;
  border: 1px solid black;
}

.header .nav-decade {
  font-size: 0.85rem;
  padding: 0 16px;
}

.month-view {
  display: inline-grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
}

.year-view {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.decade-view {
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.weekday {
  height: 1.6rem;
  justify-self: center;
}

.btn-day {
  width: 1.7rem;
  font-size: 0.8rem;
  aspect-ratio: 1/1;
  border: none;
  background-color: transparent;
  padding: 0;
}

.btn-month,
.btn-year {
  padding: 0.2rem;
  border: 1px solid transparent;
  background-color: transparent;
}

.btn-day:hover,
.btn-month:hover,
.btn-year:hover {
  background-color: #bed6fe;
  border: 1px solid black;
}

.btn-day.selected,
.btn-month.selected,
.btn-year.selected {
  background-color: #2876fc;
  color: #ffffff;
  border: 2px solid black;
}

.btn-day.current:not(.selected),
.btn-month.current:not(.selected),
.btn-year.current:not(.selected) {
  border: 1px solid black;
}

.btn-day.out-of-month {
  color: #767676;
}
