:host {
  display: block;
}

:host(.popup) {
  position: absolute;
  min-width: fit-content;
  z-index: 999;
}

:host(.popup.hidden) {
  display: none;
}

:host(:not(.popup)) {
  margin-top: var(--offset-y);
}
