:host * {
  box-sizing: border-box;
}

:host {
  box-sizing: border-box;
  position: relative;

  background-color: white;
  padding: 0.5rem;
  border: 1px solid black;

  display: inline-grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;

  user-select: none;
}

.header {
  grid-column: 1/-1;

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .arrow {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  padding: 0;
  border: 1px solid transparent;
  font-size: 1.4rem;
}

.header .arrow:hover {
  background-color: #bed6fe;
  border: 1px solid black;
}

.weekday {
  height: 1.6rem;
  justify-self: center;
}

.btn-day {
  width: 1.7rem;
  font-size: 0.8rem;
  aspect-ratio: 1/1;
  border: none;
  background-color: transparent;
  padding: 0;
}

.btn-day:hover {
  background-color: #bed6fe;
  border: 1px solid black;
}

.btn-day.selected {
  background-color: #2876fc;
  color: #ffffff;
  border: 2px solid black;
}

.btn-day.current:not(.selected) {
  border: 1px solid black;
}

.btn-day.out-of-month {
  color: #767676;
}
